.third-section-main {
    background: $baseBackgroundColor;
    .third-section-title {
        font: 400 1.8rem "Open Sans";
        color: $mainTextColor;
        text-align: center;
        padding-top: 2rem;
    }
    .third-pattern-div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 50%;
        padding: 2rem;
        .third-pattern {
            background-image: url(../../assets/Decoration.svg);
            width: 100%;
            height: 2rem;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

}

.four-steps {
    height: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    .icon-first {
        background-image: url(../../assets/Icon-1.svg);
        height: 6rem;
        background-position: center;
        background-repeat: no-repeat;
    }
    .icon-second {
        background-image: url(../../assets/Icon-2.svg);
        height: 6rem;
        background-position: center;
        background-repeat: no-repeat;
    }
    .icon-third {
        background-image: url(../../assets/Icon-3.svg);
        height: 6rem;
        background-position: center;
        background-repeat: no-repeat;
    }
    .icon-fourth {
        background-image: url(../../assets/Icon-4.svg);
        height: 6rem;
        background-position: center;
        background-repeat: no-repeat;
    }
    .title-step {
        font: 400 1rem "Open Sans";
        color: $mainTextColor;
        text-align: center;
        margin-top: 1rem;
    }
    
    .info-step {
        font: 300 0.8rem "Open Sans";
        color: $mainTextColor;
        text-align: center;
        margin-top: 1rem;
    }

}

.third-section-btn {
    background: $baseBackgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    .main-btn {
        border-radius: 5px;
        border: 1px solid $secondTextColor;
        font: 400 1.6rem "Open Sans";
        color: $mainTextColor;
        width: 12rem;
        height: 6rem;
        background: $baseBackgroundColor;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;

        }
    }
}