* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      font-family: $font-base;
      font-size: 10px;
      background: $altBackgroundColor;
  }

  .container {
    max-width: 1800px;
    margin: 0 auto;
  }