.thanks-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
}

.thanks-step {
    height: 30rem;
    background-size: cover;
}

.thanks-description {
    font: 400 1.5rem "Open Sans";
    color: $mainTextColor;
    text-align: center;
    line-height:2.5rem;
    width: 60%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.empty-thanks-div {
    width: 40%;
}

.pattern-thanks-div {
    height: 3rem;
    background-image: url(../../assets/Decoration.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}